.countries-list-wrapper {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  border: 4px solid rgb(73, 114, 119);
  border-radius: 30px;
  background-color: #ffffff;
}

.countries-list {
  padding-left: 30px;
}

.country-name {
  margin: auto;
  text-align: center;
  font-size: 25px;
}
